:root {
    --white: #ffffff;
    --light: whitesmoke;
    --light-grey: #e8e8e8;
    --pink: #ff176b;
    --medium-dark: #777;
    --dark: #242526;
    --border-rad-lg: 15px;
}


html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100%;
}


body {
    font-family: 'Poppins';
    background-size: cover;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

/* =================
      Typography 
     ================= */

h1 {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    /* padding: 40px 0; */
    margin: 0;
}

h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 1.5em;
    font-weight: normal;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    text-align: center; /* Center title block */
}

h3 {
    font-family: 'Playfair Display SC', serif;
    font-size: 1.3em;
    font-weight: medium;
    text-align: left;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 18px;
    line-height: 1.35em;
}
  
/* =================
      Sections 
     ================= */

header {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}
    
header>img {
    height: 50px;
}

header>a {
    color: #242526;
    font-size: 1.5em;
    text-decoration: none;
    padding: 1em 0;
}

header span {
    font-weight: 700;
}

#cost_title {
    padding-top: 2.5em;
}

#income_title {
    padding-top: 1em;
}

/* =================
      Setup 
     ================= */

.page-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 100% viewport height */
}

.content-wrap {
    padding: .8em; /* Footer height */
}

/* Tuition Expenses Section */
#academic-cost {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 75%; /* Contain content in 50% of webpage */
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 5em;
    text-align: center; /* Center title block */
}

.tuition-cost {
    width: 100%;
    height: 0.5em;
}

.tuition-cost > input {
    text-align: center;
}

.total-college-years {
    width: 100%;
    height: 0.1em;
    text-align: center;
}

select {
    text-align: center;
}

#general-tuition-cost {
    text-align: center;
    font-size: 18px;
}

#total {
    text-align: center;
}

/* Loan Interest Considerations */
.loan-descriptions {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 10px;
    max-width: 25%; /* Contain content in 50% of webpage */
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    text-align: center; /* Center title block */
}

#loan-consider {
    padding-bottom: 1em;
}

#hidden_loan_type_description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    /* text-align: center; */
}

/* Hidden loan descriptions */
#hidden_loan_type_undecided {
    display: none;
}

#hidden_loan_type_fixed {
    display: none;
}

#hidden_loan_type_variable {
    display: none;
}


#loan-cost {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 50%; /* Contain content in 50% of webpage */
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 5em;
    text-align: center; /* Center title block */
}

#loan-interest-value {
    text-align: center;
}

#tuition-loan-costs {
    font-size: 18px;
    text-align: center;
}


/* #hidden_loan_type_description {
    display: none;
} */




hr {
    max-width: 75%;
}

/* Income Generation Section */
.income-section {
    padding-top: 2em;
}

#income-generation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 75%; /* Contain content in 50% of webpage */
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 4em;
    text-align: center; /* Center title block */
}

.earnings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 75%; /* Contain content in 50% of webpage */
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 1em; */
    padding-bottom: 10em;
    text-align: center; /* Center title block */
}
/* .action-steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 8em;
    max-width: 50%;
    border: #242526;
    border-radius: var(--border-rad-lg);
    margin-bottom: 15em;
} */
/* Income Generated Sectionj */
/* .semesters-worked {
    width: 100%;
    height: 1em;
    text-align: center;
    grid-area: 2 / 2 / 3 / 3;
}

#num-semesters {
    text-align: center;
}

.weekly-hours-worked {
    width: 100%;
    height: 0.1em;
    text-align: center;
    grid-area: 2 / 3 / 3 / 4;
}

#hours-worked {
    text-align: center;
}

.weekly-hourly-rate {
    width: 100%;
    height: 0.1em;
    text-align: center;
    grid-area: 2 / 3 / 3 / 4;
}

#hourly-rate {
    text-align: center;
} */

/* .container {
    width: 350px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
} */
  
/* h1 {
    position: absolute;
    left: 50%;
    top: -60px;
    width: 300px;
    transform: translateX(-50%);
    background-color: #ff851b;
    color: #fff;
    font-weight: 100;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
} */

/* .wrapper {
    padding: 20px;
} */
  
/* input,
select {
    width: 80%;
    border: none;
    border-bottom: 1px solid #0074d9;
    padding: 10px;
}
  
input:focus,
select:focus {
    border: 1px solid #0074d9;
    outline: none;
}
  
select {
    width: 88% !important;
} */
  
button {
    margin: 20px auto;
    width: 150px;
    height: 50px;
    background-color: var(--dark);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
  



/* =================
      Footer 
     ================= */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: .8em; /* Footer Height */
    background-color: var(--dark);
    color: var(--light);
    font-size: .7em;
    text-align: center
}