@media screen and (max-width: 450px) {

    /* =================
      Header Config 
     ================= */

    header {
        flex-direction: column;
        text-align: center;
    }

    header>img {
        height: 40px;
        padding-top: 15px;
    }

    header>a {
        color: #242526;
        font-size: 1em;
        text-decoration: none;
        padding-top: 0.2em;
        padding-bottom: 1.2em;
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
        /* gap: em; */
    }

    header span {
        font-weight: 700;
    }

    /* =================
      Font Config 
     ================= */

    h1 {
        font-family: 'Playfair Display SC', serif;
        font-size: 28px;
        text-align: center;
        margin: 0;
    }

    h1 #education_main_title {
        white-space: normal;
        word-wrap: break-word;
        overflow: visible;
        text-overflow: clip;
    }


    h2 {
        font-family: 'Playfair Display SC', serif;
        font-size: 20px;
        font-weight: normal;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        /* padding-top: 0.5em; */
        text-align: center;
    }

    .section-title {
        padding-top: 0em;
    }

    /*
        #main_page_subtitle {
            padding-bottom: 1em;
        }
    
        h3 {
            font-family: 'Playfair Display SC', serif;
            font-size: 1.3em;
            font-weight: medium;
            text-align: left;
            max-width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
    
        ul {
            font-family: 'Playfair Display SC', serif;
            font-size: 1.5em;
            font-weight: normal;
            max-width: 60%;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
        }
    
        #research-link-explained {
            font-weight: 200;
        }*/

    p {
        font-size: 15px;
        line-height: 1em;
    }

    /* Input Configs */
    .text-input {
        max-width: 90px;
        font-size: 12.5px;
    }

    .select-input {
        max-width: 180px;
        font-size: 12.5px;
    }

    .span-input {
        font-size: 15px;
    }

    .calc-output {
        font-size: 15px;
        grid-gap: 5px;
        max-width: 80%;
    }


    /* =================
      Section Config 
     ================= */

    #academic-cost {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;
        padding-bottom: 5em;
        text-align: center;
    }

    #academic-cost>div:nth-child(3) {
        grid-column: span 2;
        /* Span the width of two columns */
    }

    /* Loan Interest Considerations */
    .loan-descriptions {
        display: grid;
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .loan-descriptions .select-input {
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
    }

    #hidden_loan_type_description {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        /* padding-top: 0.1em; */
        padding-bottom: 0.5em;

    }

    #loan-cost {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2em;
        text-align: center;
    }


    #income-generation {
        /* display: grid; */
        grid-template-columns: 1fr 1fr;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;
        padding-bottom: 4em;
        text-align: center;
    }

    #income-generation>div:nth-child(3) {
        grid-column: span 2;
        /* Span the width of two columns */
    }

    .earnings {
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5em;
        text-align: center;
    }

    /* 
    .earnings>div:nth-child(3) {
        grid-column: span 2;
    } */




    /* Research Section */
    #wage-research-expectations {
        /* display: grid; */
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4em;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 3.5em;
        text-align: center;
    }

    .wage-research-inputs {
        /* display: grid; */
        grid-template-columns: 1fr;
        grid-gap: 1em;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0em;
        text-align: center;
        /* font-size: 1.1em; */
    }

    /* Final Outstanding Balance */
    #projected-balance {
        display: flex;
        grid-template-columns: 1fr 1fr;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;
        padding-bottom: 5em;
        text-align: center;
    }

    #projected-balance>div:nth-child(3) {
        grid-column: span 2;
        /* Span the width of two columns */
    }

    /* Research Occupation Tab */
    #research-link-explained {
        padding-bottom: 0.5em;
    }

    #wage-research-expectations {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        max-width: 40%;
        /* Contain content in 50% of webpage */
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 3.5em;
        text-align: center;
    }
}