<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="./public/js/loadUniversity.js"></script> -->
    <script src="../../js/loadUniversity.js" defer></script>
    <title>Public University</title>
</head>
<body class="public-university">
    <h1>Public University</h1>
    <p id="welcomeText"></p>
    <div id="degree1">
        <h2 class="degree-name"></h2>
        <p class="degree-description"></p>
        <p class="degree-cost"></p>
        <button class="degree-choice-btn" data-degree="degree1">Select Degree</button>
    </div>
    <div id="degree2">
        <h2 class="degree-name"></h2>
        <p class="degree-description"></p>
        <p class="degree-cost"></p>
        <button class="degree-choice-btn" data-degree="degree2">Select Degree</button>
    </div>
    <div id="degree3">
        <h2 class="degree-name"></h2>
        <p class="degree-description"></p>
        <p class="degree-cost"></p>
        <button class="degree-choice-btn" data-degree="degree3">Select Degree</button>
    </div>
    <p><a href="{{ url_for('home') }}">Back to the field</a></p>
</body>
</html>