<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
</head>
<body>
    <h2>{{ page_title }}</h2>
    <h3>{{ game_location }}</h3>
    <p>{{ introduction }}</p>
    <p>{{ call_to_action }}</p>
    <p>{{ action_step }}</p>
    
    <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} -->
    
    <form action="/" method="POST" id="action-form">
        <input type="text" name="command" placeholder="Enter command here" required autofocus>
    </form>
    <script>
        document.getElementById('action-form').addEventListener('keyup', function(event) {
            if (event.key == 'Enter') {
                event.preventDefault();
                this.submit();
            }
        })
    </script>
</body>
</html>