<!DOCTYPE html>
<html>
<head>
    <title>Grasshopper Island</title>
</head>
<body>
    <h2>Grasshopper Island</h2>
    <h3>Location: Unknown, Massachusetts</h3>
    <p>Welcome Young Grasshopper! Grasshopper Island is a text-based game designed to simulate attending a four-year university without the expenses associated with it.  Here you'll be able to explore how small decisions about your degrees, loans types, and employment opportunities can compound to make you better or worse suited to pay your student loan.</p>
    <p>Enter your login info to start your journey through American University.</p>
    <form action="/student-login" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <button type="submit">Submit</button>
    </form>
    <p>To login, type 'login':</p>
</body>
</html>