<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Grasshopper Island</h2>
    <p>Welcome Young Grasshopper!</p>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>
                {{ message }}
            </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>Enter your login info to continue your journey through American University.</p>

    <form action="/login" method="post" id="action-form">
        <label for="email">Email</label>
        <input type="email" name="email" required>
        
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <p>To login, type 'login'. If you don't have an account, create your account by typing 'create':</p>
        <input type="text" name="command" placeholder="Enter command here" required>
    </form>

    <script>
        document.getElementById('action-form').addEventListener('keyup', function(event) {
            if (event.key == 'Enter') {
                event.preventDefault();
                this.submit();
            }
        })
    </script>
    
</body>
</html>