<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/loadYear.js" defer></script>
        <title>Year One</title>
    </head>
    <body class="year-one">
        <h1>Welcome to Year One</h1>
        <p id="yearOneWelcome"></p>
        <h2>Consider these working options below:</h2>
        <li>Don't work this year</li>
        <li>Work Part-time</li>
        <li>Work Full-time</li>
        <p><a href="./yearTwo.html">Onto year two of college!</a></p>
    </body>
</html>