<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="../../js/loadUniversity.js" defer></script> -->
    <title>{{ uni_type }}</title>
</head>
<body>
    <h1>{{ uni_type }}</h1>
    <p>{{ public_intro }}</p>
    <p>{{ general_tracks_intro }}</p>
    <p>To return back to the island home type 'home':</p>
    <tr>
        <th>{{ business_tracks }}</th>
        <th>{{ social_sciences_tracks }}</th>
        <th>{{ stem_tracks }}</th>
    </tr>
    <p>{{ track_query }}</p>

    
    {% if 'student' in session %}
        <p>{{ logout_option }}</p>
    {% endif %}

    <form action="/university-type" method="POST" id="action-form">
        <input type="text" name="command" placeholder="Enter command here" required autofocus>
    </form>

    <script>
        document.getElementById('action-form').addEventListener('keyup', function(event) {
            if (event.key = 'Enter') {
                event.preventDefault();
                this.submit();
            }
        })
    </script>
</body>
</html>